.works-page{
    padding-top: 100px;
    padding-bottom: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.works-page h1{
    font-size: 30px
}
.title-wrap{
    display: flex;
    gap: 15px;
}

@media screen and (min-width:480px) and (max-width:768px){
    .title-wrap{
        flex-direction: column;
        gap: 15px;
    }
}
@media screen and (max-width:479px){
    .title-wrap{
       flex-direction: column;
    }
}

.title-moving-space{
    height: 55%;
    width: 100%;
    box-sizing: border-box;
}
.section-title{
    background-color: rgba(255, 255, 255, 0.76);
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
    display: flex;
    justify-content: flex-start;
}
@media screen and (max-width:479px){
    .section-title{
        min-height: 0px;
        display: inline-block;
    }
}
.section-title h1{
    margin: 20px 10px;
    box-sizing: border-box;
    position: sticky;
    top: 50px;
    line-height: 1.5;



}@media screen and (min-width:480px) and (max-width:768px){
    .section-title h1{
        font-size: 5vw;
    }  
}
@media screen and (max-width:479px){
    .section-title h1{
        min-height: 0px;
        margin: 0px 10px;
        font-size: 6vw;
        font-weight: 800;
    }
}
.side-project,.work-project{
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 2%;
}
@media screen and (max-width:479px){
    .side-project,.work-project{
        width: 95%;
        flex-direction: column;
        gap:15px
    }
}

.side-project-title{
    background-color: rgba(255, 255, 255, 0.76);
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
    display: flex;
    justify-content: flex-start;
    
}
.side-project-title h2{
    position: sticky;
    top: 50px;
    display: inline-block;
    margin: 20px 10px;
    font-size: 30px;
    box-sizing: border-box;
}
@media screen and (min-width:480px) and (max-width:768px){
    .side-project-title h2{
        font-size: 5vw;
    }  
}
@media screen and (max-width:479px){
    .side-project-title h2{
        font-weight: 800;
        font-size: 6vw;
    }
}
.cover-photo{
    width: 32.5%;
    aspect-ratio: 3/5;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(243, 243, 243);
    box-sizing: border-box;
    border: 1px solid #0e454a1a;
    cursor: pointer;
    position: relative;
}
.work-project .cover-photo{
    width: calc((100% - 2.5%/2*3)/4);
}
@media screen and (max-width:768px){
    .cover-photo{
        width: 49%;
       
    }
    .work-project .cover-photo{
        width: 49%;
    }
}

.cover-photo span{
    width: 100%;
}
.cover-photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    transition: transform 0.5s ease;
}
.cover-photo:hover img{
    transform: scale(1.05);
}

.gallery-contents{
    width: 100%;
    display: flex;
    gap: 15px;
}
@media screen and (max-width:768px){
    .gallery-contents{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}
.side-project-gallery{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: calc(2.5%/2);
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.76);
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
}

@media screen and (max-width:768px){
    .side-project-gallery{
         gap: 3px;
         
       
    }
}



.video-section .cover-photo{
    aspect-ratio: 5/3;
    width: 100%;
}

.video-interface{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff50;
}
.video-interface span{
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}
.video-interface .play-btn{
    width: 50px;
    aspect-ratio: 1/1;
    position: relative;
      filter: drop-shadow(2px 4px 6px rgba(0,0,0,0.5));
}
.video-interface .play-btn::after{
    content: '';
    width: 100%;
    aspect-ratio: 1/1;
    background-image: url('../../assets/icon_play.svg');
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;

}